/*second*/
    @media screen and (max-width: 992px){
        .second{
            .wrap-second{padding: 30px 0 0 30px;}
        }
    }
    @media screen and (max-width: 768px){
        .second{padding-top:0; min-height: 1px;
            .wrap-second{padding: 30px 0 0 0; min-height: 1px;
                .title{max-width: none; width: 100%; text-align: center;margin-bottom: 15px;color: #000;font-size: 32px; line-height: 42px;text-shadow: 1px 1px 1px black, 0 0 1em white;}
                .item{position: relative; max-width: none;margin-bottom: 15px; padding: 30px ;}
                 &:after{display: none;}
            }

        }
    }
/*END second*/