@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){
    .ten-block .row-conteiner {display: block;
        .item{width: 100%; max-width: 350px; margin: 0 auto; padding: 30px 0;
            .plank{display: none;}
            .bot-i .before {opacity: 1 !important; }
            .hover-i {opacity: 1 !important;}
        }
    }
    .twelve-block .conteiner {
        .form-part { float: none;  width: 100%;  padding: 0 20px;
            .contact-form-title { text-align: center;}
            .contact-form-row-sub .contact-form-item { display: flex; align-items: center; justify-content: center; padding-bottom: 20px;} 
        }
        .content-send { float: none; width: 100%; padding: 0 20px;
            ul{padding: 0; display: flex; align-items: center; flex-wrap: wrap; justify-content: space-around;
                li{min-width: 300px;}                
            }
        }      
    }
}
@media screen and (max-width: 767px){
    /* forms */
    .super-button{width: 50px; height: 50px; right: 20px; bottom: 20px;   
        .call-phone { width: 50px;  height: 50px;
            i {font-size: 35px;}
        }
        .after-frorm {width: 290px; right: -10px;}
        .active-form span.before { right: 21px;}
    }
    .after-frorm {width: 290px;  }
    .active-form-header{left: 0px; right: 0px;}
    .six-block {
        .title-text { font-size: 28px;}
        .subtext { text-align: center; font-size: 18px;  padding-top: 16px; }
        .top-block-form {
            input { font-size: 16px; height: 46px;
                &::-webkit-input-placeholder {color:#545454;font-size: 16px;font-weight: 300;}
                &:-moz-placeholder {color:#545454;font-size: 16px;font-weight: 300;}
                &::-moz-placeholder {color:#545454;font-size: 16px;font-weight: 300;}
                &:-ms-input-placeholder {color:#545454;font-size: 16px;font-weight: 300;}
            }
            button[type=submit]{font-size: 16px; height: 46px;}
        }
    }
    /* forms */

/* ten block and twelve block */
    .ten-block{padding: 20px 0;}
    .twelve-block{padding: 20px 0;
        .conteiner .form-part .contact-form-row-sub button {max-width: 100%;}
        .conteiner .form-part .contact-form-item { display:block; width: 100%; margin: 0 !important; padding-bottom: 20px;
            &:last-child{padding-bottom: 0;}        
        }
        .top-form {
            padding: 20px 0;
        }
    }
    /* ten block and twelve block */
}

@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}