/*second*/
    @media screen and (max-width: 992px){
        .second{
            .wrap-second{padding: 30px 0 0 30px;}
        }
    }
    @media screen and (max-width: 768px){
        .second{padding-top:0; min-height: 1px;
            .wrap-second{padding: 30px 0 0 0; min-height: 1px;
                .title{max-width: none; width: 100%; text-align: center;margin-bottom: 15px;color: #000;font-size: 32px; line-height: 42px;text-shadow: 1px 1px 1px black, 0 0 1em white;}
                .item{position: relative; max-width: none;margin-bottom: 15px; padding: 30px ;}
                 &:after{display: none;}
            }

        }
    }
/*END second*/
/*third*/
    @media screen and (max-width: 768px){
        .third-block{
            .third-wrap{
                .title{font-size: 32px;line-height: 42px;}
            }
        }
    }
    @media screen and (max-width: 468px){
        .third-block{
            .third-wrap{
                .title{font-size: 28px;line-height: 38px;}
                .content-wrap{
                    .num{top:10px; left: 5px;}
                    .item{padding: 10px 10px 10px 65px;}
                }
            }
        }
    }
/*END third*/
/*five*/
    @media screen and (max-width: 1400px){
        .five-block{
            .wrap-five{
                .item{min-height: 550px; padding-top: 40px;}
            }
        }
    }
    @media screen and (max-width: 1280px){
        .five-block{
            .wrap-five{
                .title{font-size: 32px;line-height: 42px;}
                .conent{width:100%;margin-bottom: 0;}
                .item{float:none; display: inline-block;vertical-align: top; width: auto;padding-left: 10px; padding-right: 10px;}
                .img{height: 130px;margin-bottom: 47px; border:2px solid #fff; opacity: 1;}
            }
        }
    }
/*END five*/
/*eight*/
    @media screen and (max-width: 1280px) {
        .eight-block {
            .wrap-eight {
                .title{font-size: 32px;line-height: 42px;}
                .tabs {
                    .list { width: 100%; }
                    .notebook { width: 100%;
                        .img { width: 100%;
                            .bg { margin: 0 auto; }
                        }
                    }
                }
                .sliderok {
                    .sliderius{width:100%;}

                    .trollslider{position: relative;width:auto;height:auto;margin: 0 auto;}
                    .slide-one{ position: relative;top:0;width: auto;height: auto;
                        img{ margin: 0 auto;}
                    }
                    .txt { padding-left: 10px; width:100%; padding-bottom: 30px;}
                }
            }
        }
    }
    @media screen and (max-width: 666px) {
        .eight-block {
            .wrap-eight {font:300 16px/26px 'Roboto';
                .tabs {
                    .list {
                        span{top: 19%; left: 0;
                            &:before,
                            &:after{ display: none;}
                        }
                        li{ margin-bottom: 0; padding-left: 10px; line-height: 22px;}
                    }
                    .notebook {
                        .img { margin-bottom: 10px;
                            .bg { width: 300px; height:240px;  padding: 10px; background-image: none;}
                        }
                    }
                }
            }
        }
    }
/*END eight*/
