@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width:1070px){

    /* header */

    .header{
        .header-wrap{
            .header-right{
                .header-telefone{
                    .telefone-number-wrap{font-size: 22px;line-height: 26px;}
                }
            }
        }
    }

    /* /header */

    /* nine-block */

        .nine-block{
            .like-svg-container{
                .like-svg-graf-wrap{
                    .like-svg-graf-text{font-size: 36px;line-height: 50px;left:55%;}
                }
            }
        }

    /* /nine-block */

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    /* header */

        .header{
            .navigation-main{display: none;}
            .header-wrap{padding-right: 50px;
                .header-navigation{max-width: none;position: absolute;width: 100%;top:0;left:0;bottom: 0;
                    .navigation-main{max-width: none;position: absolute;top:100%;left: -15px;right:-15px;background-color: #fff;
                        ul{justify-content: space-around;}
                        li{
                            a{font-size: 16px;line-height: 20px;}
                        }
                    }
                }
                .sendwich{display: block;}
            }
        }

    /* /header */

    /* nine-block */

        .nine-block{padding:60px 0 245px;
            .like-svg-container{

                .corner{display: none;}

                .like-svg-graf-wrap{width: 100%;
                    .like-svg-graf-text{text-align: center;left:50%;top:50%;}
                    .like-svg-graf{
                        .like-svg-circles{width: 100%;transform:rotate(0deg);
                            .like-svg-circle-wrap{transform:rotate(180deg);}
                        }
                    }
                }

                .like-svg-description{position: relative;width: 100%;left:0;
                    ul{
                        li{font-size: 12px;line-height: 16px;text-align: center;
                            &:nth-child(1){top:0;left:calc(100% - ((100% * (1 / 7)) / 2) + ((100% * (1 / 7)) / 4));text-align: right;
                                .like-svg-prety-thin{
                                    .prety-line{width:calc(100% - 80px);}
                                }
                                .descript-text{top:calc(100% + 45px);left:calc((-100% * (1 / 7)) * (3 / 4));}
                            }
                            &:nth-child(2){top:0;left:calc(((100% * (2 / 7)) / 2) - ((100% * (1 / 7)) / 4));
                                .like-svg-prety-thin{
                                    .prety-line{width:calc(100% - 80px);}
                                }
                                .descript-text{top:calc(100% + 45px);}
                            }
                            &:nth-child(3){top:0;left:calc(100% - ((100% * (3 / 7)) / 2) + ((100% * (1 / 7)) / 4));
                                .descript-text{top:calc(100% + 110px);}
                            }
                            &:nth-child(4){top:0;left:calc(((100% * (4 / 7)) / 2) - ((100% * (1 / 7)) / 4));
                                .descript-text{top:calc(100% + 110px);}
                            }
                            &:nth-child(5){top:0;left:calc(100% - ((100% * (5 / 7)) / 2) + ((100% * (1 / 7)) / 4));
                                .like-svg-prety-thin{
                                    .prety-line{width:calc(100% - 80px);}
                                }
                                .descript-text{top:calc(100% + 45px);}
                            }
                            &:nth-child(6){top:0;left:calc(((100% * (6 / 7)) / 2) - ((100% * (1 / 7)) / 4));
                                .like-svg-prety-thin{
                                    .prety-line{width:calc(100% - 80px);}
                                }
                                .descript-text{top:calc(100% + 45px);}
                            }
                            &:nth-child(7){top:0;left:calc(100% - ((100% * (7 / 7)) / 2));
                                .descript-text{top:calc(100% + 110px);}
                            }


                            .like-svg-prety-thin{width: 105px;
                                .prety-line{transform-origin:0 50%;transform:rotate(90deg);}
                            }
                            .descript-text{width: calc(100% * (1 / 7));left:calc((-100% * (1 / 7)) / 2);}

                        }
                    }
                }

            }
        }

    /* /nine-block */

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

    /* header */

        .header{
            .header-wrap{
                .header-left{display: block;
                    .header-logo{margin-bottom:5px;}
                    .header-logo-descript{margin-left: 45px;
                        .header-logo-descript-line{width: 75%;max-width:125px;height: 1px;}
                        .header-logo-descript-main{padding-left:0;padding-top: 5px;
                            p{display: inline-block;}
                        }
                    }
                }
            }
        }

    /* /header */

    /* nine-block */

        .nine-block{padding: 60px 0 60px 0;
            .like-svg-container{
                .like-svg-graf-wrap{display: none;}
                .like-svg-description{
                    ul{
                        li{position: static;margin-bottom: 40px;font-size: 16px;line-height: 22px;
                            &:nth-child(1){text-align: center;}
                            .like-svg-prety-thin{width: 30px;margin:0 auto 10px;
                                .prety-line{display: none;}
                                .prety-cirlce{transform:scale(1)!important;}
                            }
                            .descript-text{width: 100%!important;position: static;transform:translate(0, 0);opacity:1;
                                .descript-text-wrap{max-height: none;}
                            }
                            &:last-child{margin-bottom: 0;}
                        }
                    }
                }
            }
        }

    /* /nine-block */

}
@media screen and (max-width: 555px){

    /* header */

        .header{
            .header-wrap{display: block;
                .header-left{margin-bottom: 10px;
                    .header-logo{
                        a{display: flex;justify-content:center;}
                    }
                    .header-logo-descript{display: flex;justify-content: center;
                        .header-logo-descript-line{left:calc(50% - 60px);}
                    }
                }
                .header-right{display: flex;justify-content: center;margin-bottom: 10px;
                    .header-telefone{margin-left: 40px;}
                }
            }
        }

    /* /header */

}
@media screen and (max-width: 479px){

    /* header */

        .header{
            .header-wrap{
                .header-left{
                    .header-logo{
                        a{justify-content: flex-start;}
                    }
                    .header-logo-descript{justify-content: flex-start;
                        .header-logo-descript-line{left:0;}
                    }
                }
                .header-right{justify-content: flex-start;
                    .header-telefone{margin-left: 0;
                        .telefone-number-wrap{font-size: 20px;}
                    }
                }
            }
        }

    /* /header */

    /* nine-block */

        .nine-block{padding:40px 0;
            .title{font-size: 32px;margin-bottom: 35px;}
            .title-descript{font-size: 18px;line-height: 26px;}
        }

    /* /nine-block */

}
@media screen and (max-width: 320px){

}