@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){
    .super-button{width: 50px; height: 50px; right: 20px; bottom: 20px;   
        .call-phone { width: 50px;  height: 50px;
            i {font-size: 35px;}
        }
        .after-frorm {width: 290px; right: -10px;}
    }
}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}