<section id="eight-block" class="eight-block">
    <div class="mbox">
        <div class="wrap-eight">
            <div class="title">
                <h2>Закажите сайт — расскажите о себе!</h2>
                <span class="mdl-color--primary"></span>
            </div>
            <div class="subtitle">
                <p>Нам известно, что сегодня к преподавателю предъявляются очень жесткие требования – учитель должен постоянно оказывать свою квалификацию, в том числе и участием в различных мероприятиях:</p>
            </div>
            <div class="tabs">
                <ul class="list mdl-color-text--accent">
                    <li class="active">
                        <span></span>
                        <p>Участие в сетевых учительских сообществах.</p>
                    </li>
                    <li>
                        <span></span>
                        <p>Участие в работе круглых столов, семинарах и конкурсах различных уровней.</p>
                    </li>
                    <li>
                        <span></span>
                        <p>Активное участие в районных объединениях.</p>
                    </li>
                    <li>
                        <span></span>
                        <p>Участие в качестве жюри на конкурсах и олимпиадах.</p>
                    </li>
                    <li>
                        <span></span>
                        <p>Распространение опыта работы.</p>
                    </li>
                    <li>
                        <span></span>
                        <p>Наличие победителей в конкурсах по предмету.</p>
                    </li>
                    <li>
                        <span></span>
                        <p>Наличие авторских разработок.</p>
                    </li>
                    <li>
                        <span></span>
                        <p>Активное участие в совершенствовании методологии преподавания.</p>
                    </li>
                </ul>
                <div class="notebook">
                    <div class="img">
                        <div class="bg">
                            <div class="screen">
                                <img class="active" src="images/screen1.jpg" alt="">
                                <img src="images/screen2.jpg" alt="">
                                <img src="images/screen1.jpg" alt="">
                                <img src="images/screen2.jpg" alt="">
                                <img src="images/screen1.jpg" alt="">
                                <img src="images/screen2.jpg" alt="">
                                <img src="images/screen1.jpg" alt="">
                                <img src="images/screen2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <ul>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="sliderok">
                <div class="sliderius">
                    <div class="trollslider">
                        <div class="slide-one"><img src="images/screen2.jpg" alt=""></div>
                        <div class="slide-one"><img src="images/screen2.jpg" alt=""></div>
                        <div class="slide-one"><img src="images/screen2.jpg" alt=""></div>
                        <div class="slide-one"><img src="images/screen2.jpg" alt=""></div>
                        <div class="slide-one"><img src="images/screen2.jpg" alt=""></div>
                        <div class="slide-one"><img src="images/screen2.jpg" alt=""></div>
                    </div>
                </div>
                <div class="txt">
                    <p>Расскажите о себе на сайте: <a class=".mdl-color-text--accent" href="#">разместите грамоты, сертификаты и награды,</a> а фото и видео-галерея наглядно продемонстрирует насколько иaнтересно проходит вашимероприятия, и посетители сайта непременно прочувствуют их атмосферу. И тогда ни один проверяющий не сможет сказать, что вы не соответствуете заявленной категории. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="top-block-button">
        <a href="#">
            <img src="images/top-block-mouse.png" alt="">
        </a>
    </div>
</section>