<section class="eleven-block">
    <div class="eleven-block-title">
        <h2>
           Наш сервис уже оценили сотни<br> преподавателей по всей Росии
        </h2>
        <span class="mdl-color--primary"></span>
    </div>
    <div class="eleven-block-slider">
        <div class="item">
            <div class="item-wrap">
                <div class="item-images">
                    <div class="item-images-wrap">
                        <img src="images/eleven-block-img.jpg" alt="">
                    </div>
                </div>
                <div class="item-text">
                    <div class="item-text-title">Иванов Иван, воспитатель</div>
                    <div class="item-text-description">
                        <span>
                            <b>“</b>

                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для  распечатки образцов.

                            <b>”</b>
                        </span>
                    </div>
                    <div class="item-text-place">г. Москва, Детский сад №258</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-wrap">
                <div class="item-images">
                    <div class="item-images-wrap">
                        <img src="images/eleven-block-img.jpg" alt="">
                    </div>
                </div>
                <div class="item-text">
                    <div class="item-text-title">Иванов Иван, воспитатель</div>
                    <div class="item-text-description">
                        <span>
                            <b>“</b>

                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для  распечатки образцов.

                            <b>”</b>
                        </span>
                    </div>
                    <div class="item-text-place">г. Москва, Детский сад №258</div>
                </div>
            </div>
        </div>
    </div>
</section>