<section class="five-block" id="five-block">
    <div class="wrap-five">
        <div class="title">
            <h2>Ваши непосредственные выгоды</h2>
            <span class="mdl-color--primary"></span>
        </div>
        <div class="content-wraper">
            <div class="img-box">
                <div class="imagedefault"><img src="images/it01.jpg" alt=""></div>
                <div class="image it01"><img src="images/it02.jpg" alt=""></div>
                <div class="image it02"><img src="images/it03.jpg" alt=""></div>
                <div class="image it03"><img src="images/it04.jpg" alt=""></div>
                <div class="image it04"><img src="images/it05.jpg" alt=""></div>
                <div class="image it05"><img src="images/it06.jpg" alt=""></div>
            </div>
            <div class="conent cfix">
                <div class="item">
                    <div class="img"><img src="images/ic-01.png" alt=""></div>
                    <div class="ttl">
                        <p>Личный менеджер</p>
                    </div>
                    <div class="txt">
                        <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. </p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/ic-02.png" alt=""></div>
                    <div class="ttl">
                        <p>Низкая стоимость обслуживания  </p>
                    </div>
                    <div class="txt">
                        <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. </p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/ic-03.png" alt=""></div>
                    <div class="ttl">
                        <p>Повышение уровня ИКТ компетенций</p>
                    </div>
                    <div class="txt">
                        <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. </p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/ic-04.png" alt=""></div>
                    <div class="ttl">
                        <p>Обратная связь </p>
                    </div>
                    <div class="txt">
                        <p>С учениками, родителями и коллегами</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/ic-05.png" alt=""></div>
                    <div class="ttl">
                        <p>Размещение информации о ваших наградах и достижениях </p>
                    </div>
                    <div class="txt">
                        <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>