<!-- FOOTER -->
<footer class="footer">
    <div class="footer-wrap">
        <div class="footer-left">
            <p>
                <span class="icon icon-footer-logo"></span>
                <span>2010 - 2016 ООО "СофтКБ" </span>
            </p>
        </div>
        <div class="footer-right">
            <a href="callto:+79636519250" class="">
                 <i class="material-icons">phone</i>
                 <span> +7 963 651 92 50</span>
             </a>
        </div>
    </div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="js/develop_1.js" ></script>
<script type="text/javascript" src="js/develop_2.js" ></script>
<script type="text/javascript" src="js/develop_4.js" ></script>
<script type="text/javascript" src="js/develop_5.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
