<section class="four-block" id="four-block">
    <div class="mbox">
        <div class="top-block-title">
            <h2>
               Что вы сможете с сайтом <br> от сервиса KinderEdu?
            </h2>
            <span class="mdl-color--primary"></span>
        </div>
        <div class="five-block-items">
            <div class="item-block item-1">
                <div class="item-block-img">
                    <div class="item-block-wrap-img"><img src="images/five-block-img-1.png" alt=""></div>
                </div>
                <div class="item-block-text">
                    <p>Легко и быстро реализовывать сложные образовательные проекты </p>
                </div>
            </div>
            <div class="item-block item-2">
                <div class="item-block-img">
                    <div class="item-block-wrap-img"><img src="images/five-block-img-2.png" alt=""></div>
                </div>
                <div class="item-block-text">
                    <p>Публиковать заметки и статьи, тесты, домашние задания, дополнительный тематический материал, расписания уроков</p>
                </div>
            </div>
            <div class="item-block item-3">
                <div class="item-block-img">
                    <div class="item-block-wrap-img"><img src="images/five-block-img-3.png" alt=""></div>
                </div>
                <div class="item-block-text">
                    <p>Следить за новостями коллег в новостной ленте </p>
                </div>
            </div>
            <div class="item-block item-4">
                <div class="item-block-img">
                    <div class="item-block-wrap-img"><img src="images/five-block-img-4.png" alt=""></div>
                </div>
                <div class="item-block-text">
                    <p>Обсуждать работы учеников и проблемы системы образования</p>
                </div>
            </div>
            <div class="item-block item-5">
                <div class="item-block-img">
                    <div class="item-block-wrap-img"><img src="images/five-block-img-5.png" alt=""></div>
                </div>
                <div class="item-block-text">
                    <p>Обмениваться опытом и общаться в блогах</p>
                </div>
            </div>
            <div class="item-block item-6">
                <div class="item-block-img">
                    <div class="item-block-wrap-img"><img src="images/five-block-img-6.png" alt=""></div>
                </div>
                <div class="item-block-text">
                    <p>Знакомить посетителей с значимыми событиями в жизни вашего образовательного заведения или страны</p>
                </div>
            </div>
            <div class="item-block item-7">
                <div class="item-block-img">
                    <div class="item-block-wrap-img"><img src="images/five-block-img-7.png" alt=""></div>
                </div>
                <div class="item-block-text">
                    <p>Делиться наработками, методичками, авторскими идеями, фото и видеоматериалами</p>
                </div>
            </div>
            <div class="item-block item-8">
                <div class="item-block-img">
                    <div class="item-block-wrap-img"><img src="images/five-block-img-8.png" alt=""></div>
                </div>
                <div class="item-block-text">
                    <p>Проводить конкурсы, организовывать дистанционное обучение</p>
                </div>
            </div>
            <div class="item-block item-9">
                <div class="item-block-img">
                    <div class="item-block-wrap-img"><img src="images/five-block-img-9.png" alt=""></div>
                </div>
                <div class="item-block-text">
                    <p>Размещать объявления, презентации, дипломы, сертификаты</p>
                </div>
            </div>
            <div class="item-block item-10">
                <div class="item-block-img">
                    <div class="item-block-wrap-img"><img src="images/five-block-img-10.png" alt=""></div>
                </div>
                <div class="item-block-text">
                    <p>Организуйте собственную проектную деятельность</p>
                </div>
            </div>
        </div>
    </div>
</section>