<!-- HEADER -->
<header class="header">
    <div class="mbox">
        <div class="header-wrap">

            <div class="header-left">
                <div class="header-logo">
                    <a href="#">
                        <div class="header-logo-img">
                            <img src="images/header-logo.png" alt="" />
                        </div>
                        <div class="header-logo-text">
                            <h2>KinderEdu</h2>
                            <p>Удобство, понятное и ребенку</p>
                        </div>
                    </a>
                </div>
                <div class="header-logo-descript">
                    <span class="header-logo-descript-line mdl-color--primary"></span>
                    <div class="header-logo-descript-main">
                        <p>Персональный</p>
                        <p>сайт педагога</p>
                    </div>
                </div>
            </div>

            <div class="header-navigation">
                <nav class="navigation-main">
                    <ul>
                        <li>
                            <a href="#four-block">
                                О cервисе
                                <span class="mdl-color--primary"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#nine-block">
                                Стоимость
                                <span class="mdl-color--primary"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Как это работает
                                <span class="mdl-color--primary"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Отзывы
                                <span class="mdl-color--primary"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Контакты
                                <span class="mdl-color--primary"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="sendwich">
                    <div class="sendwich-wrap">
                        <span class="top-line mdl-color--primary"></span>
                        <span class="center-line mdl-color--primary"></span>
                        <span class="bottom-line mdl-color--primary"></span>
                    </div>
                </div>
            </div>

            <div class="header-right">
                <div class="header-telefone">
                    <i class="telefone-icon material-icons mdl-color-text--accent">call</i>
                    <div class="telefone-number">
                        <div class="telefone-number-wrap">8 800 755-55-66</div>
                        <div class="material-design-border-color mdl-color--primary"></div>
                    </div>
                    <div class="after-frorm ">
                        <span class="before"></span>
                        <form action="ajax.php" name="call-for-us" class="contact-form-sender send-header">
                            <!--  -->
                            <div class="contact-form-title">
                                <h5>Заказать звонок</h5>
                            </div>
                            <div class="contact-form-row cfix">
                                <div class="contact-form-item">
                                    <div class="contact-form-item-input form_row">
                                        <div class="form_input">
                                            <input type="text" name="contact_tel" value="" required="required" class="tel-mask" id="tell-input">
                                            <label for="tell-input" class="super-label">
                                                <span>Введите ваш телефон</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-form-row cfix">
                                <div class="contact-form-item">
                                    <button type="submit" class="contact-submit">
                                        <span>Оставить заявку</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="private-cabinet-enter">
                    <a href="#">
                        <span class="cabinet-icon-wrap mdl-color--accent">
                            <span class="cabinet-unhover-background"></span>
                        <i class="private-cabinet-icon material-icons">person</i>
                        </span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</header>
<!-- /HEADER -->