<!-- HEADER -->
<header class="header">
    <div class="mbox">

        <div class="header-left">
            <div class="header-logo">
                <a href="#">
                    <div class="header-logo-img">
                        <img src="images/header-logo.png" alt="" />
                    </div>
                    <div class="header-logo-text">
                        <h2>KinderEdu</h2>
                        <p>Удобство, понятное и ребенку</p>
                    </div>
                </a>
            </div>
            <div class="header-logo-descript">
                <span class="mdl-color--primary"></span>
                <div class="header-logo-descript-main">
                    <p>Персональный</p>
                    <p>сайт педагога</p>
                </div>
            </div>
        </div>

        <div class="header-navigation">
            <nav class="navigation-main">
                <ul>
                    <li>
                        <a href="#">
                            О cервисе
                            <span class="mdl-color--primary"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Стоимость
                            <span class="mdl-color--primary"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Как это работает
                            <span class="mdl-color--primary"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Отзывы
                            <span class="mdl-color--primary"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Контакты
                            <span class="mdl-color--primary"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="header-right">
            <div class="header-telefone">
                <i class="telefone-icon material-icons">call</i>
                <div class="telefone-number">
                    <div class="telefone-number-wrap">8 800 755-55-66</div>
                    <div class="material-design-border-color mdl-color--primary"></div>
                </div>
            </div>
            <div class="private-cabinet-enter">
                <a href="#">
                    <i class="private-cabinet-icon material-icons">person</i>
                </a>
            </div>
        </div>

    </div>
</header>
<!-- /HEADER -->

