<section class="nine-block">
    <div class="mbox">

        <div class="title">
            <h2>Сколько стоит?</h2>
            <span class="mdl-color--primary"></span>
        </div>

        <div class="title-descript">
            <p class="big">
                <span>Вы платите только за техническую поддержку ресурса.</span>
            </p>
            <p>Стоимость услуг составляет <span>500 руб. в мес.</span> и включает в себя:</p>
        </div>

        <div class="section-animate">
            <div class="like-svg-container animate-it">

                <span class="corner left-top"></span>
                <span class="corner right-bottom"></span>

                <div class="like-svg-graf-wrap">

                    <!-- graf text -->
                    <div class="like-svg-graf-text">Дальше все сделаем сами!</div>
                    <!-- /graf text -->

                    <!-- graf circles wrap -->
                    <div class="like-svg-graf">
                        <!-- circles "inside" wrap -->
                        <div class="like-svg-circles">
                            <div class="like-svg-circle-wrap">
                                <div class="inside-circle"></div>
                            </div>
                            <div class="like-svg-circle-wrap">
                                <div class="inside-circle"></div>
                            </div>
                            <div class="like-svg-circle-wrap">
                                <div class="inside-circle"></div>
                            </div>
                            <div class="like-svg-circle-wrap">
                                <div class="inside-circle"></div>
                            </div>
                            <div class="like-svg-circle-wrap">
                                <div class="inside-circle"></div>
                            </div>
                            <div class="like-svg-circle-wrap">
                                <div class="inside-circle"></div>
                            </div>
                            <div class="like-svg-circle-wrap">
                                <div class="inside-circle"></div>
                            </div>
                        </div>
                        <!-- /circles "inside" wrap -->
                    </div>
                    <!-- /graf circles wrap -->

                </div>

                <!-- description of circles list -->
                <div class="like-svg-description">
                    <ul>
                        <li>
                            <div class="like-svg-prety-thin">
                                <div class="prety-cirlce"></div>
                                <div class="prety-line"></div>
                            </div>
                            <div class="descript-text">
                                <div class="descript-text-wrap">
                                    <div class="descript-text-main">Мы всегда на связи: поддержка персонального менеджера и Call-цaентр 24/7.</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="like-svg-prety-thin">
                                <div class="prety-cirlce"></div>
                                <div class="prety-line"></div>
                            </div>
                            <div class="descript-text">
                                <div class="descript-text-wrap">
                                    <div class="descript-text-main">Добавление  и размещение присланных материалов в режиме онлайн – вам не нужно самостоятельно заниматься размещением информации – мы это сделаем за вас!</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="like-svg-prety-thin">
                                <div class="prety-cirlce"></div>
                                <div class="prety-line"></div>
                            </div>
                            <div class="descript-text">
                                <div class="descript-text-wrap">
                                    <div class="descript-text-main">Возможность добавления индивидуальных блоков – мы настроим сайт персонально под вас!</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="like-svg-prety-thin">
                                <div class="prety-cirlce"></div>
                                <div class="prety-line"></div>
                            </div>
                            <div class="descript-text">
                                <div class="descript-text-wrap">
                                    <div class="descript-text-main">Вся информацaия, размещенная на сайте, защищается авторскими правами.</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="like-svg-prety-thin">
                                <div class="prety-cirlce"></div>
                                <div class="prety-line"></div>
                            </div>
                            <div class="descript-text">
                                <div class="descript-text-wrap">
                                    <div class="descript-text-main">Сопровождение сайта.</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="like-svg-prety-thin">
                                <div class="prety-cirlce"></div>
                                <div class="prety-line"></div>
                            </div>
                            <div class="descript-text">
                                <div class="descript-text-wrap">
                                    <div class="descript-text-main">SMS информирование авторов и владельцев сайта.</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="like-svg-prety-thin">
                                <div class="prety-cirlce"></div>
                                <div class="prety-line"></div>
                            </div>
                            <div class="descript-text">
                                <div class="descript-text-wrap">
                                    <div class="descript-text-main">Вы все контролируете –полный контроль и мониторинг сервиса.</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- description of circles list -->

            </div>
        </div>

    </div>
</section>