<section id="second" class="second">
    <div class="mbox">
        <div class="wrap-second cfix">

            <div class="right item">
                <p>В последние годы происходят очень важные изменения в сфере образования –  ккомпьютерной подготовке преподавателей стали предъявляться высокие требования. </p>
            </div>
            <div class="left item">
                <p>Для повышения профессионального статуса учителя <b>уже  недостаточно просто пользоваться Microsoft Office</b> – современный педагог должен грамотно оформлять результаты своего труда и выкладывать их в сеть интернет. </p>
            </div>
            <div class="title">
                <h2>Новые<br>требования...</h2>
            </div>
        </div>
    </div>
</section>