<section class="seven-block">
    <div class="item item-1 dark">
        <div class="item-wrap">
            <div class="item-count">
                <span>01</span>
                <div class="item-text">
                    <p>Сайт вам нужен для <br>прохождения аттестации</p>
                    <span class="mdl-color--primary"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="item item-2 grey">
        <div class="item-wrap">
            <div class="item-count">
                <span>02</span>
                <div class="item-text">
                    <p>Вы сможете использовать сайт как портфолио и образовательной копилки</p>
                    <span class="mdl-color--primary"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="item item-3">
        <div class="item-wrap">
            <div class="item-count">
                <span>03</span>
                <div class="item-text">
                    <p>Посредством личного ресурса вы сможете организовать дистанционное обучение</p>
                    <span class="mdl-color--primary"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="item item-4">
        <div class="item-wrap">
            <div class="item-count">
                <span>04</span>
                <div class="item-text">
                    <p>Вы сможете получить независимые оценки вашим работам и разработкам</p>
                    <span class="mdl-color--primary"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="item item-5 center">
        <div class="item-wrap">
            <div class="item-count">
                <div class="title-seven">
                    <h2>Зачем вам нужен <br>личный сайт?</h2>
                    <span class="mdl-color--primary"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="item item-6 grey">
        <div class="item-wrap">
            <div class="item-count">
                <span>05</span>
                <div class="item-text">
                    <p>Сайт необходим для получения обратной связи с родителями, коллегами и учениками </p>
                    <span class="mdl-color--primary"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="item item-7 grey">
        <div class="item-wrap">
            <div class="item-count">
                <span>06</span>
                <div class="item-text">
                    <p>Вы сможете использовать сайт для обмена опытом, демонстрации материалов,
                    наработок, наград, размещения полезного материала: конспектов, методичек,
                    тестовых вопросов для экзаменов и зачетов, статей, заметки сценариев мероприятий.</p>
                    <span class="mdl-color--primary"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="item item-8 dark">
        <div class="item-wrap">
            <div class="item-count">
                <span>07</span>
                <div class="item-text">
                    <p>Сайт необходим для обеспечения открытости и наглядности образования.
                    На сайте можно разместить авторские наработки дидактические материалы,
                    творческие работы учеников, учебные программы, планы конкурсов, мероприятий,
                    работ и поделится информацией об используемых учебно-методических комплексах,
                    ссылками на образовательные порталы</p>
                    <span class="mdl-color--primary"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="top-block-button">
        <a href="#">
            <img src="images/top-block-mouse.png" alt="">
        </a>
    </div>
</section>