<div class="seven-block">
    <div class="item item-1 dark">
        <div class="item-count">
            <span>01</span>
            <div class="item-text">
                <p>Сайт вам нужен для <br>прохождения аттестации</p>
            </div>
        </div>
    </div>
    <div class="item item-2 grey">
        <div class="item-count">
            <span>02</span>
            <div class="item-text">
                <p>Вы сможете использовать сайт как портфолио <br>и образовательной копилки</p>
            </div>
        </div>
    </div>
    <div class="item item-3">
        <div class="item-count">
            <span>03</span>
            <div class="item-text">
                <p>Посредством личного ресурса вы сможете <br>организовать дистанционное обучение</p>
            </div>
        </div>
    </div>
    <div class="item item-4">
        <div class="item-count">
            <span>04</span>
            <div class="item-text">
                <p>Вы сможете получить независимые оценки <br>вашим работам и разработкам</p>
            </div>
        </div>
    </div>
    <div class="item item-5 center">
        <div class="item-count">
            <div class="title-seven">
                <h2>Зачем вам нужен <br>личный сайт?</h2>
            </div>
        </div>
    </div>
    <div class="item item-6 grey">
        <div class="item-count">
            <span>06</span>
            <div class="item-text">
                <p>Сайт необходим для получения обратной связи <br>с родителями, коллегами и учениками </p>
            </div>
        </div>
    </div>
    <div class="item item-7 grey">
        <div class="item-count">
            <span>07</span>
            <div class="item-text">
                <p>Вы сможете использовать сайт для обмена опытом, демонстрации материалов, <br>
                наработок, наград, размещения полезного материала: конспектов, методичек, <br>
                тестовых вопросов для экзаменов и зачетов, статей, заметки сценариев мероприятий.</p>
            </div>
        </div>
    </div>
    <div class="item item-8 dark">
        <div class="item-count">
            <span>08</span>
            <div class="item-text">
                <p>Сайт необходим для обеспечения открытости и наглядности образования. <br>
                На сайте можно разместить авторские наработки дидактические материалы, <br>
                творческие работы учеников, учебные программы, планы конкурсов, мероприятий, <br>
                работ и поделится информацией об используемых учебно-методических комплексах, <br>
                ссылками на образовательные порталы</p>
            </div>
        </div>
    </div>
</div>