<section id="six-block" class="six-block">
   <div class="ix-wrap">
       <div class="mbox">
           <div class="cent">
               <div class="title-text">
                   <h3>Сделайте заказ и уже через несколько дней получите ваш сайт совершенно бесплатно!</h3>
                   <span class="before"></span>
               </div>
               <div class="subtext">Позвоните нам сегодня и получите первый месяц обслуживания бесплатно</div>
               <div class="formater">
                   <form action="" class="fort-minor">
                        <div class="top-block-form-wrap">
                            <div class="top-block-form-title">
                                Оставить заявку
                            </div>
                            <div class="top-block-form-input">
                                <div class="contact-form-item-input form_row">
                                    <div class="form_input">
                                        <input type="text" name="contact_tel" value="" required="required" placeholder="+7 (___) -___-__-__ " class="tel-mask2">
                                    </div>
                                </div>
                            </div>
                            <div class="top-block-form-row">
                                <p>Мы вам перезвоним через минуту. Засекайте!</p>
                            </div>
                            <div class="top-block-form-row cfix">
                                <div class="contact-form-item">
                                    <button type="submit" class="contact-submit mdl-color--primary doesnotuse" disabled="">
                                        <span>Отправить заявку</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
               </div>
           </div>
       </div>
   </div>
</section>