<section id="ten-block" class="ten-block">
    <div class="ten-wrap">
        <div class="mbox">
            <div class="convert">
                <div class="title-text">
                    <h3> Как это работает? </h3>
                    <span class="before mdl-color--primary"></span>
                </div>
                <div class="row-conteiner">
                    <div class="item">
                        <div class="top-i">
                            <div class="convert">
                                <div class="sup">
                                    <i class="material-icons">phone_forwarded</i>
                                </div>
                            </div>
                        </div>
                        <div class="bot-i">
                            <p>Свяжитесь с нашим  менеджером и уточните детали.</p>
                            <span class="before"></span>
                        </div>
                        <div class="hover-i">
                            <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. </p>
                        </div>
                    </div>
                    

                    <div class="item">
                        
                        <div class="plank"></div>
                        
                        <div class="top-i">
                            <div class="convert">
                                <div class="sup">
                                    <i class="material-icons">backup</i>
                                </div>
                            </div>
                        </div>
                        <div class="bot-i">
                            <p>Предоставьте необходимые материалы.</p>
                            <span class="before"></span>
                        </div>
                        <div class="hover-i">
                            <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="plank"></div>
                        <div class="top-i">
                            <div class="convert">
                                <div class="sup">
                                    <i class="material-icons">email</i>
                                </div>
                            </div>
                        </div>
                        <div class="bot-i">
                            <p>Получите уведомление о готовности сайта и наслаждайтесь результатом.</p>
                            <span class="before"></span>
                        </div>
                        <div class="hover-i">
                            <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>