<section class="third-block" id="third-block">
    <div class="mbox">
        <div class="third-wrap">
            <div class="title">
                <h2>Эту задачу можно решить несколькими способами.</h2>
                <span class="mdl-color--primary"></span>
            </div>
            <div class="content-wrap">
                <div class="item">

                    <p>Создать бесплатный сайт на конструкторе. </p>
                    <p><b>Минусы:</b> занимает много времени, нужны специальные навыки, необходимо самостоятельно добавлять материалы и заниматься ведением сайта.</p>
                    <div class="num mdl-color-text--accent">01</div>
                </div>
                 <div class="item">

                    <p>Заказать профессиональную разработку сайта в веб-студии. </p>
                    <p>Цена от 15.000 руб. После задачи сайта нет технической поддержки, все работы по добавлению материала ведутся преподавателем самостоятельно.</p>
                    <div class="num mdl-color-text--accent">02</div>
                </div>
                 <div class="item active">

                    <p>Воспользоваться сервисом KinderEdu</p>
                    <p>Создание сайта и поддержка  в первые 30 дней – бесплатно! </p>
                    <a href="#" class="button">Оставить заявку</a>
                    <div class="num mdl-color-text--accent">03</div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-block-button">
        <a href="#">
            <img src="images/top-block-mouse.png" alt="">
        </a>
    </div>
</section>