<section class="top-block">
    <div class="top-block-slider">
        <div class="item">
            <img src="images/top-block-slide-1.jpg" alt="">
        </div>
        <div class="item">
            <img src="images/top-block-slide-2.jpg" alt="">
        </div>
        <div class="item">
            <img src="images/top-block-slide-3.jpg" alt="">
        </div>
    </div>
    <div class="top-block-inform">
        <div class="mbox">
            <div class="top-block-title">
                <h1>
                    Получите<br> <b>Личный Сайт Педагога</b><br> «под ключ» бесплатно!
                </h1>
                <span class="mdl-color--primary"></span>
            </div>
            <div class="top-block-subtitle">
                <p>Никакой головной боли с разработкой, наполнением<br>
                и ведением ресурса. <b>Все просто как дважды два!</b></p>
            </div>
            <div class="top-block-form">
                <form action="">
                    <div class="top-block-form-wrap">
                        <div class="top-block-form-title">
                            Оставить заявку
                        </div>
                        <div class="top-block-form-input">
                            <div class="contact-form-item-input form_row">
                                <div class="form_input">
                                    <input type="text" name="contact_tel" value="" required="required" placeholder="+7 (___) -___-__-__ " class="tel-mask2">
                                </div>
                            </div>
                        </div>
                        <div class="top-block-form-row">
                            <p>Мы вам перезвоним через минуту. Засекайте!</p>
                        </div>
                        <div class="top-block-form-row cfix">
                            <div class="contact-form-item">
                                <button type="submit" class="contact-submit">
                                    <span>Отправить заявку</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="top-block-button">
                <a href="#">
                    <img src="images/top-block-mouse.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>