<section id="twelve-block" class="twelve-block">
    <div class="tw-wrap">
        <div class="top-form">
            <div class="mbox">
                <div class="title-text">
                    <h2>Контакты  </h2>
                    <span class="before mdl-color--primary"> </span>
                </div>
                <div class="conteiner cfix">
                    <div class="form-part">
                        <form action="ajax.php" name="" class="form-twelwe">
                            <div class="contact-form-title">
                                <h5>Оставьте вашу заявку, вопрос, предложение</h5>
                            </div>
                            <div class="conteiner">
                                <div class="contact-form-row cfix">
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_name" required="required" value="" id="name-tw">
                                                <label for="name-tw" class="super-label">
                                                    <span>Введите ваше имя</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="email" name="contact_email" value="" required="required" id="email-tw">
                                                <label for="email-tw" class="super-label">
                                                    <span>Введите ваш e-mail</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-form-item-textarea">
                                <div class="contact-form-item-input form_row">
                                    <div class="form_input">
                                        <textarea id="area-tw"  name="message" required="required" ></textarea>
                                        <label for="area-tw" class="super-label">
                                            <span>Здравствуйте, хочу заказать личный сайт педагога.</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-form-row-sub cfix">
                                <div class="contact-form-item">
                                    <button type="submit" class="contact-submit mdl-color--primary">
                                        <span>Отправить собщение</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="content-send">
                        <ul>
                            <li>
                                <a href="mailto:educator@kinderedu.ru" class="cont mail">
                                    <i class="material-icons">email</i> educator@kinderedu.ru
                                </a>
                            </li>
                            <li>
                                <a href="tel:79636519250" class="cont phone">
                                    <i class="material-icons">phone</i> +7 963 651 92 50
                                </a>
                            </li>
                            <li>
                                <a href="http://www.icq.com/whitepages/cmd.php?uin=677571156&action=message" class="cont icq">
                                    <img src="images/icq.png" alt=""> 677571156
                                </a>
                            </li>
                            <li>

                                <a href="skype:kinderedu?call" class="cont skype">
                                    <i class="fa fa-skype" aria-hidden="true"></i> kinderedu
                                </a>
                            </li>
                            <li>
                                <span class="cont timer">
                                    <i class="material-icons">access_time</i> 
                                    Время работы: 24/7
                                </span>
                            </li>
                            <li>
                                <span class="cont location">
                                    <i class="material-icons">location_on</i>
                                    <b>Россия, г. Вязьма, <br/>ул. Маяковского, д. 9, оф. 2</b>
                                </span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bot-map">
            <div id="map"></div>
        </div>
    </div>
</section>