/*second*/
    .second{background-image: url(/images/secondBG.png); background-position:center top; min-height: 734px;    padding-top: 43px;
        .wrap-second{width: 100%;position: relative; max-width: 950px; margin:0 auto; min-height: 607px; padding: 134px 0 0 103px;
            .right{max-width: 370px;top: 0;right: 0;  padding: 74px 49px;}
            .left{max-width: 540px;left: 0; bottom: 0;    padding: 74px 40px;}
            .item{background-color: rgba(0,0,0,0.8); color: #fff; font:300 16px/26px 'Roboto'; width: 100%; position: relative;position: absolute;
                b{font-weight: 700;text-transform: uppercase;}
                &:before,
                &:after{content:''; display: block;width: 41px; height: 41px; border:1px solid #9e9a98; background-color: transparent;position: absolute;}
                &:before{top: 21px;    left: 19px; border-bottom: none; border-right: none;}
                &:after{bottom:21px; right:19px; border-top: none; border-left: none;}
            }
            .title{font:400 46px/56px 'SEGOESC';color: rgba(0,0,0,0.5);    letter-spacing: -0.5px;     max-width: 200px;}
            &:after{content:''; display: block;width: 152px; height: 152px; border:1px solid #fff; background-color: transparent;position: absolute;left:51%;top:42%;}
        }
    }
/*END second*/
/*third*/
    .third-block{background-image: url(/images/thirdBG.jpg); background-position:center top; min-height: 654px;
        .third-wrap{
            .title{position: relative; text-align: center; color: #fff;  font:400 46px/56px 'Roboto';     max-width: 600px;   margin: 0 auto;    padding-top: 70px;
                span{position: absolute;  bottom: -42px; width: 75px; left: 50%;  transform: translateX(-50%); height: 3px;}
            }
            .content-wrap{position: relative;     padding-top: 93px;    display: flex;  flex-wrap:wrap;  justify-content: space-around;
                .item{color: #fff; font:300 16px/24px 'Roboto';position: relative; border:1px solid #9e9a98; min-height: 315px; width: 370px; display: inline-block; vertical-align: top; padding: 20px 20px 10px 90px;  margin-bottom: 40px;
                    p:first-child{font-weight: 500; font-size: 22px;line-height: 26px;padding-bottom: 10px;}
                    b{font-weight: 700;}
                    &:before{content:'';display: block; background-image: url(/images/ic-stop.png);width: 27px;height: 27px; bottom:-13px; left:calc(50% - 13px);position: absolute;}
                    &.active{border:2px solid #00bd04;
                        &:before{background-image: url(/images/ic-ok.png);height: 26px;}
                    }
                }
                .num{ font:400 46px/46px 'Roboto';position: absolute;top:19px; left:25px;}
                .button{border:1px solid #fff; text-transform: uppercase; text-align: center; color: #fff; font:500 18px/18px 'Roboto'; max-width: 270px; height: 50px;display: block;text-decoration: none;transition:all 200ms; margin-left: -35px; margin-top: 44px; letter-spacing: 1.7px; padding-top: 16px; margin-right:20px;
                    &:hover{background-color: #ccc;}
                }
            }
        }
    }
/*END third*/
/*five*/
    .five-block{
        .wrap-five{    padding-top: 77px;
            .image{position: absolute; opacity:0; top:0; left:0;  width: 100%; height: 100%; transition:opacity 400ms;
                &.default{opacity:1;}
                img{max-width: none; min-height: 100%;width: 100%;}
            }
            .title{position: relative; text-align: center; color: #000;  font:400 44px/56px 'Roboto';letter-spacing: -1px;     margin-bottom: 99px;
                span{position: absolute;  bottom: -21px; width: 75px; left: 50%;  transform: translateX(-50%); height: 3px;}
            }
            .content-wraper{width: 100%; overflow: hidden; position: relative;}
            .img-box{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;}
            .conent{width: 2400px;color:#fff;transition:transform 400ms ease-out;}
            .item{background-image: url(/images/normal-it.png); min-height: 792px;width: 480px; float: left; text-align: center;transition:all 300ms; cursor: pointer; padding-top: 140px;position: relative; display: block;
                &:hover{background-image: url(/images/hover-it.png);
                    .img{height: 130px;margin-bottom: 47px; border:2px solid #fff; opacity: 1;}
                    &:before,
                    &:after{opacity: 1;}
                }
                &:before,
                &:after{content:''; display: block;width: 41px; height: 41px; border:1px solid #9e9a98; background-color: transparent;position: absolute; opacity:0; transition:opacity 300ms;}
                &:before{top: 15px;    left: 15px; border-bottom: none; border-right: none;}
                &:after{bottom:15px; right:15px; border-top: none; border-left: none;}
            }
            .img{width: 130px;height: 0; border-radius: 50%; border:none; margin:0 auto; position: relative; margin-bottom: 98px;overflow: hidden; transition:all 300ms; opacity: 0;
                img{position: absolute; left:50%; top:50%; transform:translate(-50%, -50%); }
            }
            .ttl{font:700 22px/32px 'Roboto';max-width: 291px; margin:0 auto; position: relative;text-transform: uppercase; padding-bottom: 25px; margin-bottom: 34px;
                p{letter-spacing: 1px;}
                &:before{content: ''; display: block; width: 85px; height: 1px; background-color: #fff; bottom: 0; left:calc(50% - 42px);position: absolute;}
            }
            .txt{font:300 16px/24px 'Roboto';max-width: 291px; margin:0 auto;}
        }
    }
/*END five*/
/*eight*/
    .eight-block{
        .wrap-eight{font:300 22px/32px 'Roboto';  color: #242424; padding-top: 70px;
            .title{position: relative; text-align: center; color: #000;  font:400 46px/56px 'Roboto';letter-spacing: 0px; margin-bottom: 68px;
                span{position: absolute;  bottom: -21px; width: 75px; left: 50%;  transform: translateX(-50%); height: 3px;}
            }
            .subtitle{text-align: center; width: 100%;max-width: 900px; margin: 0 auto; padding: 0 15px;}
            .tabs{padding-top: 63px;
                .list{width: 46%; display: inline-block; margin-right: -4px; vertical-align: top;
                    span{display: block;position: absolute;z-index: 5;width: 7px;height: 7px; background-color: #89a48f; border-radius: 50%; top: 34%;    left: 62px;
                        &:before{content: ''; display: block;height: 1px; width: 47px; background-color: #89a48f;position: absolute;top: 3px; right:3px;z-index: 10;}
                        &:after{ border-radius: 50%;width: 30px;height: 30px; border:12px solid #c4d1c7; display: block; position: absolute; content: ''; right: 38px; top:-12px;}
                     }
                    li{position: relative;cursor:pointer; padding-left: 80px;line-height: 28px; margin-bottom: 28px;
                        &:not(.active){
                            color: #242424;
                        }
                         &:hover,
                         &.active{
                            span{background-color: #144a1f;
                                &:before{background-color: #144a1f;}
                                &:after{border-color: #89a48f;}
                            }
                         }

                    }
                }
                .notebook{width: 54%; display: inline-block;  margin-right: -4px;    padding-top: 38px;
                    .img{position: relative;     margin-bottom: 45px;
                        .bg{background-image: url(/images/notebook.png);width: 640px;height: 376px;overflow: hidden;    padding: 20px 76px 49px;}
                        .screen{position: relative; z-index: -1;}
                        img{position: absolute; opacity: 0; transition:opacity 300ms;
                            &.active{opacity:1;}
                        }
                    }
                    ul{text-align: center;}
                    li{border-radius: 50%; width: 19px; height: 19px; border:2px solid #999; display: inline-block; position: relative; cursor:pointer;     margin: 0 3px;
                        &:before{width: 11px; height: 11px; content: ''; background-color: #00bd04; display: block; position: absolute; top:2px; left: 2px; border-radius: 50%; opacity:0;}
                        &.active{border-color: #00bd04;
                            &:before{opacity:1;}
                        }
                    }
                }
            }
            .sliderok{padding-top: 44px;min-height: 539px;
                .sliderius{width:60%; display: inline-block;margin-left: -4px;vertical-align: top; position: relative;}
                .trollslider{position: relative;width: 534px;height: 416px;margin: 0 auto;}
                .slide-one{ position: absolute;top:55px;width: 424px;height: 331px;

                    &.active{top:0;width: 534px;height: 416px;z-index: 500;padding: 0;left: 0;}
                    &.prev{left: -52px; cursor: pointer;}
                    &.next{right: -52px; cursor: pointer;}
                    &.animNext{animation: nextNextAnim 500ms linear;}
                    &.animPrev{animation: prevNextAnim 500ms linear;}
                    &.nextAnim{animation: nextActiveAnim 500ms linear;}
                    &.prevAnim{animation: prevActiveAnim 500ms linear;}
                }
                .txt{width: 40%; display: inline-block; margin-left: -4px;padding-top: 60px;
                    a{text-decoration: none;}
                }
            }
        }
    }
@keyframes nextActiveAnim {
  0%{width: 534px; height: 416px; left: 0;top: 0;z-index: 501;}
  50%{width: 424px; height: 331px;  left: 0;top: 55px;z-index: 501;}
  100%{width: 424px; height: 331px; left: -52px;top: 55px;z-index: 501;}
}
@keyframes prevActiveAnim {
  0%{width: 534px; height: 416px; right: 0;top: 0;left: auto;z-index: 501;}
  50%{width: 424px; height: 331px;  right: 0;top: 55px;left: auto;z-index: 501;}
  100%{width: 424px; height: 331px; right: -52px;top: 55px;left: auto;z-index: 501;}
}
@keyframes nextNextAnim {
  0%{width: 424px; height: 331px; right: -52px; left: auto; top: 55px; z-index: 501;}
  50%{width: 534px; height: 416px; right: -52px; left: auto;top: 0;z-index: 501;}
  100%{width: 534px; height: 416px; right: 0; left: auto; top: 0;z-index: 501;}
}
@keyframes prevNextAnim {
  0%{width: 424px; height: 331px; right: auto; left: -52px;top: 55px; z-index: 502;}
  50%{width: 534px; height: 416px; right: auto; left: -52px; top: 0;z-index: 502;}
  100%{width: 534px; height: 416px; right: auto; left: 0; top: 0;z-index: 502;}
}
/*END eight*/