/*top block*/
.top-block{position: relative;z-index: 1;
    .top-block-slider{margin-bottom: 0;
        .item{min-height: 100vh;position: relative;overflow: hidden;
            img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
        }
    }
    .top-block-inform{position: absolute;top: 0;left: 0;width: 100%;text-align: center;padding-top: 158px;
        .top-block-title{font-size: 60px;line-height: 1.3;font-weight: 300;font-family:'Roboto',sans-serif;position: relative;
            b{font-weight: bold;text-transform: uppercase;}
            span{position: absolute;bottom:-26px;width: 75px;left: 50%;transform: translateX(-50%);height: 3px;}
        }
        .top-block-subtitle{font-size: 22px;font-weight: 300;padding-top: 57px;line-height: 1.5;padding-bottom: 71px;
            b{font-weight: bold;}
        }
        .top-block-form{width: 100%;max-width: 600px;margin:0 auto;padding: 30px 48px;background-color: #fff;border:1px solid #c9cccf;box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.3);
            p{font-weight: 300;color: #545454;font-size: 21px;}
            .top-block-form-title{font-size: 46px;text-transform: uppercase;padding-bottom: 29px;}
            .top-block-form-input{margin-bottom: 27px;}
            input{height: 60px;width: 100%;font-size: 30px;font-weight: 300;color: #545454;font-family:'Roboto',sans-serif;border-width: 1px;border-color: rgb(162, 162, 162);border-style: solid;border-radius: 2px;padding: 0 23%;
                &::-webkit-input-placeholder {color:#545454;font-size: 30px;font-weight: 300;}
                &:-moz-placeholder {color:#545454;font-size: 30px;font-weight: 300;}
                &::-moz-placeholder {color:#545454;font-size: 30px;font-weight: 300;}
                &:-ms-input-placeholder {color:#545454;font-size: 30px;font-weight: 300;}
            }
        }
    }
    .top-block-button{display: inline-block;max-width: 19px;opacity: 0.5;transition:all ease .2s;
        &:hover{opacity: .8;}
        a{display: inline-block;}
    }
}
/*/top block*/