/*top block*/
.top-block{position: relative;z-index: 1;overflow: hidden;
    .top-block-slider{margin-bottom: 0;
        .item{min-height: 100vh;position: relative;overflow: hidden;
            img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);min-width: 100%;    max-width: none;}
        }
    }
    .top-block-inform{position: absolute;top: 0;left: 0;width: 100%;text-align: center;padding-top: 80px;height: 100%;
        .top-block-title{font-size: 60px;line-height: 1.3;font-weight: 300;font-family:'Roboto',sans-serif;position: relative;
            b{font-weight: bold;text-transform: uppercase;}
            span{position: absolute;bottom:-26px;width: 75px;left: 50%;transform: translateX(-50%);height: 3px;}
        }
        .top-block-subtitle{font-size: 22px;font-weight: 300;padding-top: 57px;line-height: 1.5;padding-bottom: 71px;
            b{font-weight: bold;}
        }
    }

}
section{ position: relative;}
.top-block-button{display: block;max-width: 19px;opacity: 0.5;transition:all ease .2s; padding: 10px 0; margin:0 auto;
    &:hover{opacity: .8;}
    a{display: inline-block;}
}

.nine-block{
    .top-block-button{ position: absolute; bottom: 10px; left:calc(50% - 10px);padding: 0;}
}
.top-block-form{width: 100%;max-width: 600px;margin:0 auto;padding: 30px 48px;background-color: #fff;border:1px solid #c9cccf;box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.3);margin-bottom: 39px;
    p{font-weight: 300;color: #545454;font-size: 21px;margin-bottom: 27px;}
    .top-block-form-title{font-size: 46px;text-transform: uppercase;padding-bottom: 29px;}
    .top-block-form-input{margin-bottom: 27px;}
    input{height: 60px;width: 100%;font-size: 30px;font-weight: 300;color: #545454;font-family:'Roboto',sans-serif;border-width: 1px;border-color: rgb(162, 162, 162);border-style: solid;border-radius: 2px;padding: 0 23%;
        &::-webkit-input-placeholder {color:#545454;font-size: 30px;font-weight: 300;}
        &:-moz-placeholder {color:#545454;font-size: 30px;font-weight: 300;}
        &::-moz-placeholder {color:#545454;font-size: 30px;font-weight: 300;}
        &:-ms-input-placeholder {color:#545454;font-size: 30px;font-weight: 300;}
    }
    button[type=submit]{height: 60px;color: #fff;text-transform: uppercase;width: 100%;max-width: 370px;margin:0 auto;position: relative;border:none;cursor: pointer;font-size: 22px;font-weight: 500;margin-bottom: 29px; cursor: pointer;
        span{position: absolute;width: 100%;left: 0;top: 50%;transform: translateY(-50%);}
    }
}
/*/top block*/

/*five block*/
.four-block{padding-top: 60px;
    .top-block-title{text-align: center;font-size: 46px;line-height: 1.3;font-weight: 400;font-family:'Roboto',sans-serif;position: relative;margin-bottom: 80px;
        span{position: absolute;bottom:-39px;width: 75px;left: 50%;transform: translateX(-50%);height: 3px;}
    }
    .five-block-items{margin:0 auto;width: 100%;max-width: 970px;display: flex;flex-wrap:wrap;justify-content: space-between;align-items: center;
        .item-block{width: 50%;display: flex;flex-wrap:nowrap;align-items: center;margin-bottom: 35px;
            &:hover{
                .item-block-wrap-img img{animation-name: swing;}
            }
        }
        .item-block-wrap-img{height: 70px;width: 70px;overflow: hidden;border:1px solid #bcc5c6;border-radius: 50%;position: relative;display: flex;flex-direction:column;justify-content:center;align-items:center;
            img{transform-origin: top center;animation-fill-mode: both;animation-duration: 1s;will-change: transform;}
        }
        .item-block-img{margin-right: 30px;}
        .item-block-text{padding-right: 28px;font-weight: 300;font-size: 16px;color: #000;line-height: 1.3;cursor: default;}
    }
}
@keyframes swing {
  20% {transform: rotate3d(0, 0, 1, 15deg);}
  40% {transform: rotate3d(0, 0, 1, -10deg);}
  60% {transform: rotate3d(0, 0, 1, 5deg);}
  80% {transform: rotate3d(0, 0, 1, -5deg);}
  to {transform: rotate3d(0, 0, 1, 0deg);}
}
/*/five block*/

/*seven-block*/
.seven-block{display: flex;flex-wrap:wrap;justify-content:flex-start;align-items:center;overflow: hidden;
    .item{background-color: #535b65;width: 33.33%;color: #ffffff;font-weight: 300;font-size: 16px;position: relative;cursor: default;
        .item-wrap{height: 270px;display: flex;flex-wrap:wrap;justify-content:flex-start;align-items:flex-start;overflow: hidden;position: relative;z-index: 2;transition:all ease-out .2s;backface-visibility: hidden;padding-right: 10px;}
        &.dark{background-color: #25282d;}
        &.grey{background-color: #40474f;}
        &.item-4{
            .item-count .item-text{max-width: 254px;}
        }
        &.item-5{
            &:after{transform: scale(1.15, 1.3);z-index: 3;}
            .item-wrap{z-index: 4;overflow: visible;display: flex;justify-content:center;align-items:center;text-align: center;font-size: 46px;font-weight: 400;line-height: 1.3;padding: 0;
                &:after{height: 40px;width: 40px;position: absolute;border-left: 1px solid #8b8d90;border-top: 1px solid #8b8d90;content: '';left: -25px;top: -19px;}
                &:before{height: 40px;width: 40px;position: absolute;border-right: 1px solid #8b8d90;border-bottom: 1px solid #8b8d90;content: '';right: -25px;bottom: -19px;}
            }
            .title-seven{position: relative;
                span{position: absolute;height: 3px;width: 73px;bottom:-20px;left: 50%;transform: translateX(-50%);margin:0;opacity: 1;}
            }
        }
        &.item-7,&.item-8{width: 50%;
            .item-count{
                .item-text{max-width: 750px;width: calc(100% + 390px);}
            }
        }
        &.center{background-color: #292d32;}
        &:after{content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: inherit;z-index: 1;transition:all ease-out .2s;backface-visibility: hidden;}
        &:not(.item-5):hover{
            .item-wrap{z-index: 6;overflow: visible;}
            &:after{transform: scale(1.2);z-index: 5;}
        }

        .item-count{position: relative;cursor: default;
            span{font-weight: 500;font-size: 250px;color: #000;opacity: 0.1;line-height: 1;    margin-left: -28px;margin-top: -52px;display: inline-block;}
            .item-text{position: absolute;top:calc(100% - 86px);left: calc(100% - 5px);max-width: 290px;width: calc(100% + 149px);line-height: 1.4;cursor: default;
                span{position: absolute;left: 0;top: -15px;height: 1px;width: 32px;margin:0;opacity: 1;}
            }
        }
    }
}
/*/seven-block*/

/*eleven-block*/
.eleven-block{background-color: #fff;min-height: 700px;background: url('/images/eleven-block-bg.jpg') center top no-repeat;background-size: cover;padding-top: 75px;color: white;overflow: hidden;
    .eleven-block-title{text-align: center;font-size: 46px;line-height: 1.3;font-weight: 400;font-family:'Roboto',sans-serif;position: relative;margin-bottom: 80px;color: white;
        span{position: absolute;bottom:-29px;width: 75px;left: 50%;transform: translateX(-50%);height: 3px;}
    }
    .eleven-block-slider{width: 100%;}
    .item-images-wrap{width: 155px;height: 155px;border-radius: 50%;overflow: hidden;position: relative;
        img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);max-width: 100%;}
    }
    .item-wrap{display: flex;align-items:flex-start;justify-content:center;max-width: 960px;margin:0 auto;padding: 0 80px;cursor: default;
        .item-images{margin-right: 40px; width: 155px;}
        .item-text{width: calc(100% - 155px);}

        .item-text-title{font-size: 24px;font-weight: bold;margin-bottom: 40px;position: relative;
            &:after{position: absolute;bottom:-20px;content: '';left: 0;height: 1px;background-color: #fff;width: 80px;}
        }
        .item-text-description{font-weight: 300;font-size: 16px;line-height: 24px;position: relative;margin-bottom: 40px;
            span{position: relative;}
            b{font-size: 30px;font-weight: bold;display: inline-block;position: absolute;left: 100%;}
            b:first-child{left: auto;right: 100%;top: 0;}
            &:after{position: absolute;bottom:-20px;content: '';left: 0;height: 1px;background-color: #fff;width: 80px;}
        }
        .item-text-place{font-weight: bold;font-size: 16px;}
    }

    .slick-prev, .slick-next{height: 60px;width: 80px;background-color: rgba(0,0,0, .5);max-height: 100%;color: white;z-index: 5;
        &:before{content: '';position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%) rotate(-45deg);border:none;border-right:3px solid white;border-bottom: 3px solid white;height: 18px;width: 18px;}
    }
    .slick-next{right: 0;}
    .slick-prev{left: 0;
        &:before{border-right:none;border-bottom: none;border-left:3px solid white;border-top: 3px solid white;}
    }
}
/*/eleven-block*/

/*footer*/
.footer{overflow: hidden;
    .footer-wrap{max-width: 900px;width: 100%;margin:0 auto;height: 150px;display: flex;justify-content: space-between;align-items: flex-start;padding-top: 25px;padding-left: 15px;padding-right: 15px;}

    .icon-footer-logo{height: 62px;width: 62px;background: url('/images/footer-logo.png') center center no-repeat;display: inline-block;}
    .footer-left{font-size: 18px;color: #000000;font-weight: 300;
        span{vertical-align: middle;margin-right: 5px;}
    }
    .footer-right{padding-top: 11px;
        span,i{display: inline-block;}
        i{color: #01b30e;position: relative;top: 4px;}
        a{font-weight: 300;font-size: 18px;color: #000;text-decoration: none;vertical-align: middle;}
    }
}
/*/footer*/