/*second*/
    .second{background-image: url(/images/secondBG.png); background-position:center top; min-height: 734px;    padding-top: 43px;
        .wrap-second{width: 100%;position: relative; max-width: 950px; margin:0 auto; min-height: 607px; padding: 134px 0 0 103px;
            .right{max-width: 370px;top: 0;right: 0;  padding: 74px 49px;}
            .left{max-width: 540px;left: 0; bottom: 0;    padding: 74px 40px;}
            .item{background-color: rgba(0,0,0,0.8); color: #fff; font:300 16px/26px 'Roboto'; width: 100%; position: relative;position: absolute;
                b{font-weight: 700;text-transform: uppercase;}
                &:before,
                &:after{content:''; display: block;width: 41px; height: 41px; border:1px solid #9e9a98; background-color: transparent;position: absolute;}
                &:before{top: 21px;    left: 19px; border-bottom: none; border-right: none;}
                &:after{bottom:21px; right:19px; border-top: none; border-left: none;}
            }
            .title{font:400 46px/56px 'SEGOESC';color: rgba(0,0,0,0.5);    letter-spacing: -0.5px;     max-width: 200px;}
            &:after{content:''; display: block;width: 152px; height: 152px; border:1px solid #fff; background-color: transparent;position: absolute;left:51%;top:42%;}
        }
    }
/*END second*/
/*third*/
    .third-block{background-image: url(/images/thirdBG.jpg); background-position:center top; min-height: 654px;
        .third-wrap{
            .title{position: relative; text-align: center; color: #fff;  font:400 46px/56px 'Roboto';     max-width: 600px;   margin: 0 auto;    padding-top: 70px;
                span{position: absolute;  bottom: -42px; width: 75px; left: 50%;  transform: translateX(-50%); height: 3px;}
            }
            .content-wrap{position: relative;     padding-top: 93px;    display: flex;  flex-wrap:wrap;  justify-content: space-around;
                .item{color: #fff; font:300 16px/24px 'Roboto';position: relative; border:1px solid #9e9a98; min-height: 315px; max-width: 370px; width: 100%; display: inline-block; vertical-align: top; padding: 20px 20px 10px 90px;  margin-bottom: 40px;
                    p:first-child{font-weight: 500; font-size: 22px;line-height: 26px;padding-bottom: 10px;}
                    b{font-weight: 700;}
                    &:before{content:'';display: block; background-image: url(/images/ic-stop.png);width: 27px;height: 27px; bottom:-13px; left:calc(50% - 13px);position: absolute;}
                    &.active{border:2px solid #00bd04;
                        &:before{background-image: url(/images/ic-ok.png);height: 26px;}
                    }
                }
                .num{ font:400 46px/46px 'Roboto';position: absolute;top:19px; left:25px;}
                .button{border:1px solid #fff; text-transform: uppercase; text-align: center; color: #fff; font:500 18px/18px 'Roboto'; max-width: 270px; height: 50px;display: block;text-decoration: none;transition:all 300ms; margin-left: -35px; margin-top: 44px; letter-spacing: 1.7px; padding-top: 16px; margin-right:20px;
                    &:hover{background-color: rgba(0,0,0,0.8);}
                }
            }
        }
    }
/*END third*/